/* styles.css */

/* Header styles */
header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; /* Adjust the height of the footer as needed */
    background-color: #f2f2f2; /* Add your preferred background color */
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Button styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}


.abug{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section styles */
section {
    margin-bottom: 20px;}

section form{
    display: flex;
    justify-content: center;
    align-items: center;
}

section h2 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    padding: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-inner {
    max-width: 800px; /* Adjust the value based on your desired container width */
    padding: 20px;
    background-color: #f2f2f2; /* Adjust the background color as needed */
    border-radius: 10px;
}
.container-head {
    max-width: 100%; /* Adjust the value based on your desired container width */
    padding: 20px;
    border-radius: 10px;
}

.container-inner h1 {
    text-align: center;
}

.container-head h1 {
    text-align: center;
}
.container-inner form {
    text-align: center;
}
.container-head form {
    text-align: center;
}

.container-inner ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
.container-head ul {
    list-style: none;
    padding: 0;
    text-align: center;
}


* {
    box-sizing: border-box;
}

body {
    --page-gutter: clamp(1rem, 4vw, 2rem);
    font-family: system-ui, sans-serif;
    line-height: 1.4;
    margin: 0;
}

main {
    inline-size: min(60rem, 100% - var(--page-gutter) * 2);
    margin: 4rem auto;
}

.wrapper {
    display: flex;
    overscroll-behavior-x: contain;
    overscroll-behavior-x: contain;
    overflow-x: auto;
    margin-inline: calc(var(--page-gutter) * -1);
    padding-inline: var(--page-gutter);
    padding-block: 1rem;
}

h1 {
    line-height: 1.2;
}

table {
    border-spacing: 0;
    overflow: hidden;
    inline-size: 100%;
    text-align: left;
    background-color: inherit;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 6px -2px rgba(14, 30, 37, 0.12);
}

:is(th, td) {
    padding: 1rem;
    min-inline-size: 10rem;
    border-block-end: 1px solid lightgray;
}

tfoot :is(th, td) {
    border-block-end: unset;
}

tfoot tr {
    background-color: whitesmoke;
}

:is(th, td):not(:first-child) {
    border-inline-start: 1px solid lightgray;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


@media (max-width: 1179px) {
    .container-inner{
        max-width: 50%;
    }
    table{
        max-width: 50%;
    }
}
body {
    font-family: "Century Gothic", 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
    text-align: center;
    padding: 0 2em;}
h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
}
h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
}


.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;}



.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;}


.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}

@media (min-width: 800px) {
    .et-hero-tabs,
    .et-slide {}
    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1rem;
    }
}
.et-hero-tab {
    font-size: 1rem;
}

